{% extends 'index.html' %}

{% block navbar %}
    <nav class="navbar navbar-expand-lg bg-white navbar-light sticky-top p-0 wow fadeIn">
        <a href="#" class="navbar-brand d-flex align-items-center px-4 px-lg-5">
            <h1 class="m-0"><i><img src="/static/img/icon.png"></i>Job Seeker Panel</h1>
        </a>
        <button type="button" class="navbar-toggler me-4" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav ms-auto p-4 p-lg-0">
                <a href="{{url_for('signin1home')}}" class="nav-item nav-link">Home</a>
                <a href="{{url_for('upload')}}" class="nav-item nav-link active">Upload Resume</a>
                <a href="{{url_for('search')}}" class="nav-item nav-link">Search job</a>
                <a href="{{url_for('appliedjobs')}}" class="nav-item nav-link">Applied Jobs</a>
                <a href="{{url_for('topredictpage')}}" class="nav-item nav-link">Prediction</a>
                <a href="{{url_for('load')}}" class="nav-item nav-link">Load</a>
                <a href="{{url_for('j_account')}}" class="nav-item nav-link">Account</a>
                <a href="{{url_for('index')}}" class="nav-item nav-link">LogOut</a>
            </div>
        </div>
    </nav>
{% endblock %}

{% block content %}

    <center>
        <h2 style="margin-top: 50px;">Resume Upload</h2><br><br>
        
        <form action="/upload_resume" method="post" role="form" enctype="multipart/form-data">
          <input style="width: 600px; height:50px;" type="file" name="f1" class="form-control" required /><br><br>
  
          <button style="width: 600px; height:50px;" type="submit" class="btn btn-success">Add Data</button><br>
          <button style="width: 600px; height:50px; margin-top: 10px;" type="reset" class="btn btn-info">Reset</button>
        </form>
    </center>

{% endblock %}